*{
	text-align: center;
	margin: auto;
	color: black;
	font-size: 13px;
	width: 100%;
}
header{
	background-color: black;
	position: fixed;
	z-index: 9999;
	top: 0;
}
h1{
	margin: 0;
	font-size: 2em;
	color: white;
}
h2{
	font-size: 1.6em;
	margin-top:30px;
}
h3{
	margin: 10px;
}
p{
	width: 80%;
	text-align: left;
	padding: 10px 5px;
	word-wrap: break-word;
}

.nav-unshown{
	display: none;
}	
.global-nav{
	top: 50px;
	background-color: #ffd2e3;
}
.global-nav th,.global-nav td{
	width: 30%;
}
main{
	margin-top: 5%;
}
#Portfoli{
	padding-top: 30px;
	width: 70%;
}	
.page1,.page2,.page3,#blog{
	margin: 30px 0 40px;
	display: flex;
}
.page1 p,.page2 p,.page3 p,#blog p{
	background-color: #f0f5c3;
	text-align: left;
	margin-top: 0;
	margin-left: 10px;
	padding: 20px;
	word-wrap: break-word;
}
#profile{
	width:70%;
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
}
dt{
	background-color: #f4dafd;
}
footer{
	background-color: black;
}