*{
	text-align: center;
	margin: auto;
	color: black;
	font-size: 13px;
	width: 100%;
}
header{
	background-color: black;
	position: fixed;
	display: flex;
	top: 0px;
	height: 50px;
	margin: 0;
	z-index: 9999;
}
h1{
	font-size: 1.8em;
	color: white;
}
h2{	
	font-size: 1.2em;
}
h3{
	margin: 5px 0;
	background-color: #cdf7e5de;
}
#nav-drawer{
	margin-right: 0;
	width: 10%; 
}
.nav-unshown{
	display: none;
}	
#nav-open{
	display: inline-block;
	width: 30px;
	height: 25px;
	vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
 	position: absolute;
	height: 3px;/*線の太さ*/
	width: 25px;/*長さ*/
	border-radius: 3px;
	background: white;
	display: block;
	content: '';
	cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-close{
	display: none;
	position: fixed;
	z-index: 99;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	background:black;
}
.global-nav{
	overflow: auto;
	position: fixed;
	top: 50px;
 	left: 0;
 	width: 100%;
 	z-index: 99;	
	background-color: #ffd2e6;
	transition: .5s ease-in-out;/*滑らかに表示*/
	-webkit-transform: translateY(-310%);
	transform: translateY(-310%);/*上に隠しておく*/
}
.global-nav table{
	width: auto;
	margin: auto;
}
.global-nav a{
	margin:0 10px;
}
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: 0.4;
}
#nav-input:checked ~ .global-nav{
　-webkit-transform: translateY(0%);
  transform: translateY(0%);
}
#nav-input:checked ~ #nav-open span{
	background: transparent;
}

#nav-input:checked ~ #nav-open span:before{
 	-webkit-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 	top: 10px;
}
#nav-input:checked ~ #nav-open span:after{
 	-webkit-transform: rotate(45deg);
 	transform: rotate(45deg);
 	top: 10px;
 }

.global-nav th,.global-nav td{
	width: 30%;
}
#Portfoli{
	margin: 50px auto;
}
#Portfoli p{
	text-align: left;
	width: 90%;
	padding: 15px;
	word-wrap: break-word;
}
.page1 img,.page2 img,.page3 img{
	margin: 5px;
}
.page1,.page2,.page3{
	width: 90%;
	padding: 10px 5px;
	margin-bottom: 10px;
}
.page1 p,.page2 p,.page3 p{
	background-color: #cdf7e5de;

}
#blog{
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #cdf7e5de;
}
#blog p{
	text-align:left;
}
#blog img{
	width: 70%;
}
#profile{
	width: 90%;
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
}
#profile ul{
	padding: 0;
}
#profile li{
	list-style: none;
}
.cap{
	background-color: #f4dafd;
}
footer{
	background-color: black;
}